html, body{
	width: 100%;
	height: 100%;
}

.bannerText {
	color: #4e484a;
	position: absolute;
	padding-top: 10px;
}

.column {
	float: left;
	width: 33.33%;
}

.column.li {
	color: red;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.contact {
	padding-top: 100px;
}

.banner {
	margin-left: 25px;
}